.Home {
    text-align: center;
    margin-top: 50px;
  }
  
  .paragraph {
    margin: 20px;
  }
  
  .buttons button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .buttons button:hover {
    background-color: #0056b3;
  }
  